.header{
    background-color: #1f2937;
    display: flex;
    align-items: flex-end;
    width: 100%;



}
.header.one{
    flex: auto;
    justify-self: flex-start;
    color:#F9FAF8;
    font-weight: bold;


}
.header .secondary{
    color:#F9FAF8;
    flex: 1;
    gap: 10px;
}
* {
    font: roboto ;
}
.header h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex-wrap: wrap;
    
}
.header p{
    font-size: 24px;
    color: #E5E7EB;
    text-align: left;
}
div .one{
    font-size: 24px;
    color: #F9FAF8;
}
.header button{
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
.call-to-action{
    background-color: #3882F6;
    color: #F9FAF8;

    
}
.transparent-button{
    background-color: transparent;
    border-radius: 10px;
    border: #F9FAF8;
}
.quote{
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    padding: 20px;
    align-self: center;
    
}
.author{
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}
.main{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    width: 40px;
    display: block;
    background-color: transparent;
    border-color: #3882F6;
    border-radius: 10px;
    

}
.header img {
    height: auto;
    width: 100px;
    justify-self: flex-end;
    background-color: grey;


}
.footer{
    background-color: #1f2937;
    text-align: center;
    color:#F9FAF8;

}