.header,
.footer{
    background-color: #1f2937;
    display: flex;
}
.header.one{
    flex: 1;
    justify-self: start;
    color:#F9FAF8;
    font-weight: bold;
}
.header .secondary{
    color:#F9FAF8;
    flex: 1;
    justify-items: flex-end;
    gap: 10px;
}
* {
    font: roboto ;
}
.header h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex-wrap: wrap;
    
}
.header p{
    font-size: 24px;
    color: #E5E7EB;
    flex-wrap: wrap;
}
div .one{
    font-size: 24px;
    color: #F9FAF8;
}
.header button{
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
.call-to-action{
    background-color: #3882F6;
    
}
.quote{
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    justify-content: flex-end;
}
.main{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    flex-flow: row wrap;
}
.header img {
    height: auto;
    width: 100px;
    justify-self: flex-end;
    background-color: grey;


}
