/* header */
.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.header .logo{
    color:#F9FAF8;
    font-weight: bold;
    font-size: 24px;

}
.header-links{
    color:#F9FAF8;
    display: flex;
    font-size: 18px;
    gap: 22px;
    margin-bottom: 100px;
    flex-direction: row;
    justify-content: flex-end;
    
}

* {
    font: roboto ;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header-content{
    color:#F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.header-left,
.header-right{
    width: 500px;
    height:auto;
}
.header-left{
    box-sizing:border-box;
    padding-right: 125px;
    margin-left: 300px;
}
.headertext{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}
.text{
    font-size: 16px;
    color: #E5E7EB;
}
.header-right{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.signup{
    background-color: #3882F6;
    color: white;
    padding: 4px 32px;
    border: 1px solid #3882F6;
    border-radius: 8px;
}
/* main */
.title{
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #F9FAF8;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding-bottom: 150px;
    padding-top: 50px;
}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 300px;
}
.box {
    margin-top: 32px;
    border: 5px solid #3882F6;
    border-radius: 25px;
    flex: 1;
}
/* quote */
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.quote p{
    display: flex;
    color: #1f2937;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    padding: 150px 300px;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.author{
    font-size: 24px;
    margin-left: 600px;
    font-weight: bold;

}

/* call to action */
.call-to-action{
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px 0px;
    font-weight: bold; 
}
.call-to-action p{
    font-weight: normal;
}
.call-to-action button{
    background-color: transparent;
    font-size: 15px;
    border: 3px solid white;
    color:#F9FAF8;
    border-radius: 8px;
}

.footer{
    background-color: #1f2937;
    color:#F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    font-size: 15px;


}